<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<br><br>
<div class="container col-3">
    <form role="form" th:action="@{/login}" method="post">
        <h2><b>Please sign in</b></h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter login" name="username" required>
            <input type="password" class="form-control" placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">Sign in</button>
    </form>
</div>

</body>
</html>