<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin panel</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>


<nav class="navbar navbar-dark bg-dark">

    <p class="nav-item nav-text text-white my-1" th:object="${user}"><span th:text="*{email}"></span> with roles:
        <span th:each="role : *{roles}">
            <span th:text="${role}"></span>
        </span>
    </p>
    <a class="nav-item nav-text text-light text-right" href="/logout">Logout</a>

</nav>


<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="list-group list-group-flush col-2">
        <a href="/admin" class="btn btn-link btn-sm text-left mt-4" th:if="${user.isAdmin()}">Admin</a>
        <button class="btn btn-sm btn-block btn-block text-left" th:if="${not user.isAdmin()}"></button>
        <button class="btn btn-primary btn-block btn-block text-left">User</button>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="card container-fluid" id="page-content-wrapper">

        <div class="card-body">

            <div class="card-title h1">User information-page</div>

            <div class="card-title">

                <table class="table table-striped ">
                    <thead>
                    <tr><div class="h4">About user</div></tr>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Adress</th>
                        <th>Login</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td  th:text="${user.id}"></td>
                        <td  th:text="${user.name}"></td>
                        <td  th:text="${user.email}"></td>
                        <td  th:text="${user.adress}"></td>
                        <td  th:text="${user.username}"></td>
                        <td>
                            <div th:each="userRole : *{user.roles}">
                                <span th:text="${userRole}"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>